
<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-main-content}
                                               )}">

<head>
    <title>Books</title>
</head>
<body>

<div id="home-main-content">
    <div class="row">
        <div class="col-xxl-l12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Books</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--    -->
    <h4>Books</h4>

    <div class="row">
        <div class="col-xxl-12">
            <button style="margin:20px 0 20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrtBook">
                <i class="fa fa-plus"></i>
                Create book
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-12">


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Read</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reading</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">To Read</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul th:each = "book : ${booksRead}" class="books" style="margin:20px 0 20px;">
                        <li class="book">
                            <a th:href="@{/books/{idBook}(idBook=${book.bookId})}" class="book-link">
                                <div class="book-link--text">
                                    <i class="fa fa-book"></i>
                                    <span th:text="${book.title}">title</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul th:each = "book : ${booksReading}" class="books" style="margin:20px 0 20px;">
                        <li class="book">
                            <a th:href="@{/books/{idBook}(idBook=${book.bookId})}" class="book-link">
                                <div class="book-link--text">
                                    <i class="fa fa-book"></i>
                                    <span th:text="${book.title}">title</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <ul th:each = "book : ${booksToRead}" class="books" style="margin:20px 0 20px;">
                        <li class="book">
                            <a th:href="@{/books/{idBook}(idBook=${book.bookId})}" class="book-link">
                                <div class="book-link--text">
                                    <i class="fa fa-book"></i>
                                    <span th:text="${book.title}">title</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>
    </div>
    <!--    -->
    <!-- modalCrtQuote -->
    <div class="modal fade" id="modalCrtBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save a Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="#" th:action="@{books}" th:object = "${book}" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input name="title" type="text" class="form-control" placeholder="Enter title" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Author</label>
                            <input name="author" type="text" class="form-control" placeholder="Enter title" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input name="description" type="text" class="form-control" placeholder="Enter title" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Motivation</label>
                            <input name="motivation" type="text" class="form-control" placeholder="Enter title" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Subject</label>
                            <input name="subject" type="text" class="form-control" placeholder="Enter title" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Genre</label>
                            <input name="genre" type="text" class="form-control" placeholder="Enter title" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status"
                                    required
                                    class="select2 form-control"
                                    th:field="*{status}"
                                    id="statusId">
                                <option th:value="'READ'" th:text="Read"></option>
                                <option th:value="'READING'" th:text="Reading"></option>
                                <option th:value="'TO_READ'" th:text="To_read"></option>
                            </select>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  ./ modalCrtQuote  -->


</div>

</body>
</html>